@page "/user/logout"
@model WebGUI.Pages.user.LogoutModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="0;url=/welcome" />
</head>
<body>
</body>
</html>